<p><%= link_to "Customers", customers_path %></p>
<p><%= link_to "Toppings", toppings_path %></p>
<p><%= link_to "Pizzas", pizzas_path %></p>
<p><%= link_to "Orders", orders_path %></p>
<p><%= link_to "Order Items", order_items_path %></p>
