<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pizza.name %>
</p>

<p>
  <strong>Toppings:</strong>
  <ul>
    <% @pizza.toppings.each do |t| %>
      <li><%= t.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_pizza_path(@pizza) %> |
<%= link_to 'Back', pizzas_path %>
